body {
    
    font-family: myFirstFont;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(135deg, rgb(241, 176, 230) 0%, rgb(144, 181, 241) 100%);
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: myFirstFont;
    src: url(../static/Spectral/Spectral-Light.ttf);
}

header {
    position: sticky;
    top: 0;
}

header nav {
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 0.5vh black;
    text-align: center;
    height: 10vh;

}

header nav li {
    display: inline; /*to be side be side*/
}

header nav li a {
    color: black;
    text-decoration: none; /*to look like regular text with no lines*/
    padding: 5vw;
    font-size: 1.5vw;
    

}

header nav li a:hover {
    color: royalblue;
}

#logo {
    float: left;
    margin-top: -30px;
    width:6vw;
}

#menuIcon {
    float: right;
    margin-top: -30px;
    width:5vw;
    cursor: pointer;
}

